/* also includes the footer! */
body{
		display: flex;
	flex-direction:column;
  align-items: center;
}





#nav-bar{
	height: 73.019229888916016px;
	width: 1069.366211px;

	/* background-color: #939393; */
	/* border :1px solid #444444;  */

	display:flex;
	flex-direction:row;
	align-items:center;

	z-index: 10;
	position: absolute;
	top:10px;
	left: 50%;  
	transform: translate(-50%, 0);
	
	background: transparent;

}

#nav-bar img{
	margin-top:15px;
}

#nav-bar ul{
	list-style-type: none;

}

.tab{
	width: 170px;
	height: 58px;
	border-left: 3px solid white;
	box-sizing: border-box;
	display:inline-block;
	/* margin-left : 24px; */
	text-align: -webkit-center;
    padding-top: 3px;

}

nav a{
  font-family: Montserrat,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 49px;
	text-decoration:none;
	color:white;
		
}

#dropbtn{
	width: 170px;
	height: 58px;
	border-left: 3px solid white;
	border-right: 3px solid white;
		
	box-sizing: border-box;
	display:inline-block;
	text-align: -webkit-center;
	background-color:transparent;

  font-family: Montserrat,sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 49px;
			text-decoration:none;
		color:white;
		

}

button{
  border: 0px solid transparent;
}



nav{
	/* border : 1px solid #444444; */
	width: 858px;
	display:flex;
	flex-direction: row;
	margin-left:57px;
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.tab a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




/* Add a red background color to navbar links on hover */
#nav-bar li:hover, .dropdown:hover #dropbtn {
	color: #444444;
	border-bottom:4px solid #444444;
}



/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
	background-color :#444444;
  min-width: 170px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #2CA2B8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

	font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 18.44px;
		line-height: 32px;
}

/* Add a grey background color to dropdown links on hover */
#sub1:hover, #sub2:hover{
  background-color:white;
	color :#444444;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

footer{

	background: #F7F7F7;
	border: 2px solid #C0C0C0;
	box-sizing: border-box;
	height: 60px;
	min-width:100%;
	border-radius: 0px;
	display: flex;
  align-items: center;
	margin-top : 140px;

	left :0px;

}

footer p{

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14.5823px;
	line-height: 19px;
	/* identical to box height */


	color: #949292;
	margin-left:62px;

}

#about{
		color: #949292;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14.5823px;
		line-height: 19px;
		text-decoration:underline;


}